# Node modules
node_modules/

# Environment variables
.env

# Build files
/dist

# Log files
*.log
logs

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?